 <!DOCTYPE html>
 <html lang="en">
       <head>
             <title></title>
             
               <meta charset="utf-8">
                   <meta http-equiv="X-UA-Compatible" content="IE=edge">
 

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

       </head>
<style>
       .body{

            background: #34e89e;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to top, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to top, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            }
</style>
   
   
    

