<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include("partials/head")%>
    </head>
<style>
    body{
        background: #1c92d2;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    </style>
<body>
<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="#">UATF</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#home">Inicio</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Materias</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#contact">Github</a>
      </li>
    </ul>
  </nav>

  <header class="callout d-flex" id="home">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Bienvenido!!</h1>
      <h3 class="mb-5">
        <em>Es hora de crear su Guia de Laboratorio y mucho más..</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Vamos a Empezar</a>
    </div>
    <div class="overlay"></div>
  </header>

<!-- materias -->

 <% console.log('Ejs/////////////////////') %>
    <%var c = resp.materia.length%>
    <% console.log(resp) %>
    <% console.log("Tamaño del vector",c) %>
    <%var a = [], b = []
      a = resp.materia[1].nombre
      b = resp.materia[1].sigla   
      
      %>
    <% console.log(a,b) %>

  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Lista de Materias</h2>
      </div>
     
      <div class="row no-gutters">
       <%for(var i=0; i<resp.materia.length ;i++) {%>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/MostrPrac">
            <span class="caption">
              <span class="caption-content">
                <h1><%=resp.materia[i].sigla%></h1>
                <p class="mb-0"><%=resp.materia[i].nombre%></p>
              </span>
            </span>
            <img class="img-fluid" src="img/banner.jpg" alt="">
          </a>
        </div>
           <% }%>  
    </div>
  </section>


  <!-- contact -->
  <footer class="footer text-center" id="contact">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Erik-Jonathan-Perez-Flores/FundacionLS_GuiasLab_Frontend">
            <i class="icon-social-github"></i>
          </a>
        </li>
         <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Erik-Jonathan-Perez-Flores/FundacionLS_GuiasLab_Backend">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>

     

<%-include("partials/diseño")%>
</body>
</html>